body { 
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.item-red {
    background-color: rgb(230, 78, 78)
}

.item-blue {
    background-color: rgb(76, 76, 233);
}

ul {
    /* list-style: none; */
    /* padding: 0; */
}

ul li {
    height: 20px;
}

.task3 {
    background-color: #EEE;
}

.runaway {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/fly_PNG3950.png");
    background-size: contain;
    /* background-color:lawngreen; */
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    bottom: 2%;
    right: 20%;
    transform: translate(-50%, -50%);
}

form {
    padding: 0.2rem;
}

select {
    width: 10%;
    height: 1.5rem;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px 0px;
    padding: 0;
    gap: 10px;
}

textarea {
    display: block;
    margin: 1rem 0;
    columns: 30;
}

p {
    height: 1rem;
    background-color: rgb(200, 240, 200);
}