#before, #after {
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    padding: 1rem;
    font-size: 1.5rem;
    border: 2px solid rgba(100, 100, 100, 0.5);
    text-align: center;
    color: black;
}

#before {
    background-color: rgb(0, 255, 98);
}

#after {
    background-color: cyan;
}