html, body {
    margin: 0;
}

header, nav, section, footer {
    box-sizing: border-box;
    text-align: center;
    border: 0.2rem solid red;
}

header {
    width: 800px;
    height: 200px;
    border-color: red;
}

nav {
    width: 100px;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    border-color: orange;
}

section {
    width: 700px;
    height: 400px;
    display: inline-block;
    border-color: orange;
}

footer {
    width: 800px;
    height: 200px;
    border-color: grey;
}