html,
body {
    padding: 0;
    margin: 0;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: 2rem;
} */

.wrapper {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: 60%;
    margin: 0 auto;
}

.card-wrapper {
    padding: 0 1rem;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: cornsilk;
}

.card-entry {
    border: 1px solid silver;
    background-color: aliceblue;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-prop,
.card-value {
    margin: 0 1rem;
}

.card-prop {
    font-weight: bold;
}

.card-btn {
    text-align: center;
    background-color: ivory;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 0.2rem;
}